/* File: src/app/components/pond-list/pond-list.component.css */

.container-fluid {
  padding: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.add-pond-form-overlay, .update-pond-form-overlay {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(196, 40, 40, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-pond-form-container, .update-pond-form-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
}
